<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

	<bean class="nl.knaw.dans.shemdros.core.Environment" name="environment">
		<constructor-arg value="/usr/local/lib/emdros/libjemdros.so"/>
		<constructor-arg value="/usr/local/lib/emdros/libharvest.so"/>
	</bean>

	<bean class="nl.knaw.dans.shemdros.core.Database" name="defaultDB">
		<constructor-arg value="default"/>
		<property name="outputKind" value="1"/>
		<property name="charset" value="3"/>
		<property name="backendKind" value="4"/>
		<property name="hostname" value="localhost"/>
		<property name="username" value=""/>
		<property name="password" value=""/>
		<property name="initialDB" value="/data/emdros/wivu/s3/bhs3"/>
		<property name="maxPoolSize" value="10"/>
	</bean>
	
	<bean class="nl.knaw.dans.shemdros.core.Database" name="otherDB">
		<constructor-arg value="other"/>
		<property name="outputKind" value="1"/>
		<property name="charset" value="3"/>
		<property name="backendKind" value="4"/>
		<property name="hostname" value="localhost"/>
		<property name="username" value=""/>
		<property name="password" value=""/>
		<property name="initialDB" value="/data/emdros/wivu/s3/bhs3"/>
	</bean>
	
	<bean class="nl.knaw.dans.shemdros.core.JsonFile" name="defaultJF">
		<constructor-arg value="default"/>
		<constructor-arg value="/opt/shemdros/resources/fetchinfo2.json"/>
		<property name="focusElementPart" value="&lt;w fm="/>
		
	</bean>
	
	<bean class="nl.knaw.dans.shemdros.core.EmdrosFactory" name="emdrosFactory">
		<property name="databases">
			<list>
				<ref bean="defaultDB"/>
				<ref bean="otherDB"/>
			</list>
		</property>
		<property name="jsonFiles">
			<list>
				<ref bean="defaultJF"/>
			</list>
		</property>
	</bean>

    <bean class="nl.knaw.dans.shemdros.web.exc.ShemdrosExceptionMapper" name="shemdrosexceptionmapper">
    	<!-- Set a xslt-stylesheet for client-side rendering of xml-output -->
    	<!-- property name="stylesheet" value="bar/war.far"/ -->
    </bean>

</beans>